{% extends 'base.html.twig' %}

{% block title %}Éditer {{ worker.firstname }} {{ worker.lastname }} - TaskLinker{% endblock %}

{% block body %}
   
                   {{ form_start(form) }}
                   {{ form_row(form.lastname) }}
                   {{ form_row(form.firstname) }}
                   {{ form_row(form.email) }}
                   <div class="form-flex">
                      <div>{{ form_row(form.starting_date) }}</div>
                      <div>{{ form_row(form.contract) }}</div>
                   </div>
                   <button class="button button-submit">Enregistrer</button>
                   {{ form_end(form) }}
	        
{% endblock %}
