{% extends 'base.html.twig' %}

{% block title %}Liste des employés - TaskLinker{% endblock %}

{% block body %}
    <table id="team-container">
                  <thead>
                     <tr>
                        <th>Prénom, Nom</th>
                        <th>Statut</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for worker in workers %}
                     <tr>
                        <td>
                           <div class="employee-infos">
                              <div class="employee-avatar">
                                 {{ worker.firstname |first|upper }}{{ worker.lastname|first|upper }}
                              </div>
                              <div class="employee-coords">
                                 <strong>{{ worker.firstName }} {{ worker.lastName }}</strong>
                                 <span>{{ worker.user.email }}</span>
                              </div>
                           </div>
                        </td>
                        <td>{{ worker.contract }}</td>
                        <td>
                           <a class="button button-edit-team" href="employe.html">
                           Éditer
                           </a>
                           <a class="delete-team" href="#">
                           Supprimer
                           </a>
                        </td>
                     </tr>
                        {% endfor %}
                  </tbody>
               </table>
                             
{% endblock %}
