{{ form_start(form) }}
        {{ form_row(form.name, {'label': 'Titre du projet'}) }}
        {{ form_row(form.workers, {'label': 'Inviter des membres'}) }}
        <br>
        <button class="button button-submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}