{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - TaskLinker{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Titre de la tâche'}) }}
    {{ form_row(form.description, {'label': 'Description'}) }}
    {{ form_row(form.deadline_date, {'label': 'Date limite'}) }}
    {{ form_row(form.status, {'label': 'Statut'}) }}
    {{ form_row(form.worker, {'label': 'Membre'}) }}
    {{ form_widget(form) }}
    <button class="button button-submit">Ajouter</button>
    {{ form_end(form) }}
    
{% endblock %}
